[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
django-crispy-forms = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
pillow = "*"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
