










{% extends "base.html" %}
{% block content %}


    
<!-- Latest compiled and minified CSS -->

      <div class="wrapper text-dark" style="list-style:none;">
        <li class="nav-item   active" role="presentation"><a href="#001" class="text-decoration-none text-dark" aria-controls="001" role="tab">For You</a></li>
        {% for board in boards %} 
        <li class="nav-item fw-bold" role="presentation"><a href="{% url 'boards:boards'  title=board.title %}" class="text-decoration-none text-dark" aria-controls="002" role="tab">{{board.title}}</a></li>
        {% endfor %}
      </div>
   


<div class="masonry">
    {% for pin in pins %}
    
    <div class="brick">
        <div class="crd">
            <a class="m-2 text-decoration-none text-dark" href="{% url 'pins:pin_detail' pin.id %}">
                {% if pin.get_type == 'video' %}
                    
                        <video autoplay muted loop>
                            <source src="{{ pin.file.url }}">
                        </video>
                    
                    
                    {% elif pin.get_type == 'image' %}
                    
                        <img src="{{ pin.file.url }}" class="content-img">
                    {% endif %}
                        <div class="overlay">
                            <div class="text">
                                <p class="fw-bold" style="
                                overflow: hidden;
                                color:white;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                width:150px;
                                ">{{pin.title}}</p>
                            </div>
                            <div class="text">
                                <button class="fw-bold rounded-pill" style="
                                
                                background-color:#DA70D6;
                                position: absolute;
                                right:5px;
                                ">Save</button>
                            </div>
                            
                            <div class="text">
                                    <p class="fw-bold"  style="
                                                position: absolute;
                                                color:white;
                                                bottom:3px;
                                                left:3px;
                                                ">{{pin.link}}
                                    </p>
                            </div>
                            
                            
                        </div>
            </a>
        </div>
            
            
                    <div>
                        <h5 class="card-title">{{pin.title}}</h5>
                        <div class="d-flex">
                            <img src="{{ request.user.profile.photo.url }}" class="avatar rounded-circle">
                            <span class="username">{{pin.user.username}}</span>
                        </div>
                        
                      </div>
                    
        
        
    </div>
    
   {% endfor %}
</div>

<script src="https://unpkg.com/@appnest/masonry-layout/umd/masonry-layout.min.js"></script>
{% endblock %}