








{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div style="background-color: #efefef;height: auto;" class="row">
    <div class="col-md-3"></div>
    <div style="border-radius: 15px;" class="col-md-6 mt-5 mb-5 bg-white">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% csrf_token %}
      <label style="float: left;" class="fw-bold" for="">Name</label>
      {{form.title }}                        
      <div class="col-md-1 mt-4">    
          {{ form.is_private }}                        
      </div>
      <div style="text-align:left" class="col-md-11">
          <b class="ms-1">Keep this board secret</b>
          <p class="text-muted ms-4">So only you and collaborators can see it. Learm more</p>
      </div>
      <button type="submit" style="background-color:#DA70D6;" class="btn mt-3 mb-3">Post</button>
    </form>
    </div>
    </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
    {% endblock %}